@font-face {
    font-family: 'CloisterBlack';
    src: url('CloisterBlack.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.title_font {
	font-family: 'CloisterBlack', sans-serif;
}

html{
	background-color: #f9f9f9;
}

body {
	padding: 0;
	margin: 0;
	font-family: "Courier New", sans-serif;
}

hr{
	border: none;
	height: 0.1em;
	background-color: #dbdbdb;
	margin: 2rem;
}
.container {
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
	padding: 0;
}

header, main, footer {
	padding: 0;
}

header {
	padding: 2em 3em;

}
main{
	background-color: #f9f9f9;
	padding: 0 1em;
}

footer {

	background-color: #f9f9f9;
}

footer.fixed {
	position: fixed;
	width: 100%;
	bottom: 0;
}

h1, p {
	margin: 0 0 10px;
}

p.centerd{
	text-align: center;
}

button.text{
	font-family: "Courier New", sans-serif;
	border: none;
	background-color: transparent;
}
button.text:hover{
	text-decoration: underline;
}

button.rebase {
	position: relative;
	font-family: "Courier New", sans-serif;
	font-size: medium;
	text-decoration: none;
	text-transform: uppercase;
	border: 3px solid #21ff55;
	border-radius: 2px;
	background-color: rgb(208, 255, 219);
	color: rgb(0, 16, 4);
	font-weight: bold;
	box-shadow: 1px 1px 0px 0px #083913, 2px 2px 0px 0px #083913, 3px 3px 0px 0px #083913, 4px 4px 0px 0px #083913, 5px 5px 0px 0px #083913;
	padding: 0.6em 1em;

	display: flex;
	flex-direction: row;
	align-items: center;
}

button.rebase:disabled {
	filter: grayscale();
}

button.rebase:hover:not(:active, :disabled) {
	top: -1px;
	/*box-shadow: 1px 5px 0px rgba(0, 0, 0, 0.3)*/
}

button.rebase:active:not(:disabled) {
	top: 1px;
	/*box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.3);*/
}

@media (min-width: 768px) {

}

.buy_token {
	font-family: "Courier New", sans-serif;
	font-size: medium;
	font-weight: bold;
	letter-spacing: 2px;
	border-radius: 2px;
	text-decoration: none;
	text-transform: uppercase;
	color: #000;
	cursor: pointer;
	border: 3px solid;
	box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
	position: relative;
	user-select: none;
	-webkit-user-select: none;
	touch-action: manipulation;
	text-align: center;

	display: flex;
	flex-direction: row;
	align-items: center;

	padding: 0.5em 1em 0.5em 0.5em;
	margin-bottom: 1rem;
}

.buy_token:active {
  box-shadow: 0px 0px 0px 0px;
  top: 5px;
  left: 5px;
}

.button_text{
	width: 100%;
	text-align: center;
	margin-left: 0.5em;
}

.circle_loader {
	width: 0.6em;
	height: 0.6em;
	border: 2px solid rgb(33, 255, 85);
	border-radius: 50%;
	display: inline-block;
	box-sizing: border-box;
	position: relative;
	animation: pulse 1s linear infinite;
  }

  .circle_loader:after {
	content: '';
	position: absolute;
	width: 1.5em;
	height: 1.5em;
	border: 3px solid rgb(33, 255, 85);
	border-radius: 50%;
	display: inline-block;
	box-sizing: border-box;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	animation: scaleUp 1s linear infinite;
  }
  
  @keyframes scaleUp {
	0% { transform: translate(-50%, -50%) scale(0) }
	60% , 100% { transform: translate(-50%, -50%)  scale(1)}
  }
  @keyframes pulse {
	0% , 60% , 100%{ transform:  scale(1) }
	80% { transform:  scale(1.2)}
  }

  .arrow_loader {
	width: 0.4em;
	height: 0.5em;
	background: #21ff55;
	display: inline-block;
	position: relative;
	top: 4px;
	box-sizing: border-box;
	animation: bump 0.4s linear infinite alternate;
  }
  .arrow_loader::after {
	content: '';  
	box-sizing: border-box;
	left: 50%;
	bottom: 100%;
	transform: translate(-50%, 0);
	position: absolute;
	border: 0.6em solid transparent;
	border-bottom-color: #21ff55;
  }
  
  @keyframes bump {
	0% {
	  transform: translate(-50%, 5px);
	}
	100% {
	  transform: translate(-50%, -5px);
	}
  }
	  

  .clock_loader {
	width: 2em;
	height: 2em;
	min-width: 2em;
    min-height: 2em;
	display: inline-block;
	position: relative;
	background-color: #FFF;
	background: radial-gradient(ellipse at center, #21ff55 0%, #21ff55 20%, #FFF 15%, #FFF 100%);
	background-size: cover;
	background-position: center;
	border-radius: 100%;
  }
  .clock_loader::after,
  .clock_loader::before {
	content: '';  
	position: absolute;
	height: 1em;
	width: 0.1em;
	background: #21ff55;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) rotate(0deg);
	transform-origin: 25% 0;
	box-sizing: border-box;
	animation: rotation 10s linear infinite;
  }
  .clock_loader::before {
	height: 0.75em;
	width: 0.1em;
	transform: translateX(-50%) rotate(0deg);
	animation-duration: 1s;
  } 
  @keyframes rotation {
	0%    { transform: rotate(0deg)}
	100%  { transform: rotate(360deg)}
  } 

  .token_spin {
	transform: translateZ(1px);
  }
  .token_spin:after {
    content: '$';
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    border-radius: 50%;
    text-align: center;
    font-size: 1em;
    font-weight: bold;
    background: #FFD700;
    color: #DAA520;
    border: 4px double;
    box-sizing: border-box;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, .1);
    animation: coin-flip 12s cubic-bezier(0, 0.2, 0.8, 1) infinite;
  }
  @keyframes coin-flip {
	0%, 100% {
	  animation-timing-function: cubic-bezier(0.5, 0, 1, 0.5);
	}
	0% {
	  transform: rotateY(0deg);
	}
	50% {
	  transform: rotateY(1800deg);
	  animation-timing-function: cubic-bezier(0, 0.5, 0.5, 1);
	}
	100% {
	  transform: rotateY(3600deg);
	}
  }
		

@media (min-width: 768px) {
	.rebase{
		font-size: larger;
		box-shadow: -1px 1px 0px 0px #083913, -2px 2px 0px 0px #083913, -3px 3px 0px 0px #083913, -4px 4px 0px 0px #083913, -5px 5px 0px 0px #083913;
	}
	.buy_token{
		margin-bottom: 0;
		font-size: 0.9em;
	}
	main{
		padding: 1em 3em 2em 3em;
	}
}